body {
  font-family: sans-serif;
  text-align: center;
  background: #f4f4f4;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
}

li {
  list-style: none;
  margin: 10px;
  background: white;
  padding: 10px;
}
